{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Bienvenido/a
{% endblock %}

{% block content %}
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-body" style="text-align:justify">
					<p>Bienvenido/a y gracias por participar en este experimento.
						El experimento consta de siete partes que tendrán lugar durante {{ days }} días.
						Usted comenzará por las cinco primeras partes, lo que le llevará aproximadamente 20 minutos.
						Por favor, hágalo nada más leer estas instrucciones. Estas partes son obligatorias y si no las completa quedará excluido/a del experimento. Tiene hasta mañana a las 10 de la mañana, hora de verano penínsular de España (CEST), para completar las primeras cinco partes. Después de eso, pasará a la sexta parte. Tomará su primera decisión de la parte 6 mañana.
						A partir de ahí, participará en una nueva ronda de la sexta parte el resto de días. Cada día tendrá hasta las 10 de la mañana, hora de verano penínsular de España (CEST) del día siguiente para tomar su decisión. Sus decisiones en esta parte le llevarán tan solo unos pocos minutos por día.
						Finalmente, llegará usted a la última parte, la séptima.

					<h4>Reglas importantes</h4>
					<ul>
						<li>Su participación es voluntaria y puede retirarse del experimento en cualquier momento. Eso sí, si se retira no recibirá ningún pago.</li>
						<li>Le pedimos encarecidamente que no se comunique con ningún otro participante y, en general, que tome sus decisiones independientemente. Por favor, no comparta su enlace personal de participación con nadie. </li>
						<li>Sus respuestas deben ser confidenciales. Los investigadores que analizarán los datos del experimento no podrán relacionar su identidad con sus decisiones de ninguna manera. </li>
						<li>Durante todo el experimento no se le mentirá ni engañará en forma alguna: aquello que decimos, lo hacemos.</li>
					</ul>

					<h4>Pago</h4>
					<p>Se le pagará al final del experimento vía PayPal. Su pago será la suma de todas sus ganancias de
						cada parte. Por cada 10 puntos que usted gane recibirá 1 euro. Sus ganancias dependerán en parte
						de sus decisiones y en parte de las de otros participantes. Se le pagará directamente en su
						cuenta de PayPal de manera que los otros participantes no podrán saber cuánto ha ganado. Se le
						darán instrucciones adicionales sobre sus ganancias más adelante. </p>

					<p>Si no completa las decisiones de hoy o deja de tomar <b>{{ inactive_threshold }} decisiones</b> durante el experimento, será
						automática y permanentemente expulsado/a del experimento y, en ese caso, no recibirá ningún pago.

					<p>Al final del experimento, se seleccionará al azar a {{ num_subjects_win }} participantes entre
					todos los que hayan
					completado todas las partes del experimento. Los/as seleccionados/as recibirán un pago adicional,
					consistente en que sus ganancias se multiplicarán por {{ win_multiplier }}. Garantizamos que esta
					persona seleccionada
					al azar ganará al menos 100 euros, a añadir al resto de sus pagos.


					<h4>Información adicional</h4>
					<p>Una vez pinche en el botón “Siguiente” no podrá volver a la pantalla anterior, así que por favor,
						lea cuidadosamente las instrucciones. En todo caso, le mostraremos instrucciones relevantes
						durante el experimento. Si tiene alguna pregunta durante el experimento escriba a
						<a href="mailto:{{ email }}">{{ email }}</a>. Cuando esté listo para continuar, pulse
						en “Siguiente” abajo.</p>
				</div>
			</div>
		</div>
	{% next_button %}
{% endblock %}