{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Parte 6: Respuestas
	{% endif %}
{% endblock %}
{% block scripts %}
<style>
	.danger {
		color:red;
	}
</style>
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}			
	{% endif %}

	{% if player.inactive < inactive_threshold %}
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-body">
					<p>Usted ha respondido <strong>{{ player.correct_answers }}</strong> preguntas de 5 correctamente. La parte 6 del experimento empieza en la siguiente pantalla.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading mb-4">
					<b>Pregunta 1: Si usted pone 5 puntos en la Cuenta Común, y los otros participantes ponen 0 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Pregunta</th>
							<th>Su respuesta</th>
							<th>La respuesta correcta</th>
						</tr>
						{% if player.question_1_1 == Constants.a1_1 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_1_text }}</td>
								<td>{{ q_1_1 }}</td>
								<td>{{ a11 }}</td>
							</tr>

						{% if player.question_1_2 == Constants.a1_2 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_2_text }}</td>
								<td>{{ q_1_2 }}</td>
								<td>{{ a12 }}</td>
							</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading mb-4">
					<b>Pregunta 2: Si usted pone 5 puntos en la cuenta común, y los otros participantes ponen 150 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Pregunta</th>
							<th>Your response</th>
							<th>La respuesta correcta</th>
						</tr>
						{% if player.question_2_1 == Constants.a2_1 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_1_text }}</td>
								<td>{{ q_2_1 }}</td>
								<td>{{ a21 }}</td>
							</tr>

						{% if player.question_2_2 == Constants.a2_2 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_2_text }}</td>
								<td>{{ q_2_2 }}</td>
								<td>{{ a22 }}</td>
							</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading mb-4">
					<b>Pregunta 3: Si usted pone 28 puntos en la cuenta común, y los otros participantes ponen 150 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Pregunta</th>
							<th>Your response</th>
							<th>La respuesta correcta</th>
						</tr>
						{% if player.question_3_1 == Constants.a3_1 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_1_text }}</td>
								<td>{{ q_3_1 }}</td>
								<td>{{ a31 }}</td>
							</tr>

						{% if player.question_3_2 == Constants.a3_2 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_2_text }}</td>
								<td>{{ q_3_2 }}</td>
								<td>{{ a32 }}</td>
							</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading mb-4">
					<b>Pregunta 4: Si usted pone 28 puntos en la cuenta común, y los otros participantes ponen 5 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Pregunta</th>
							<th>Su respuesta</th>
							<th>La respuesta correcta</th>
						</tr>
						{% if player.question_4_1 == Constants.a4_1 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_1_text }}</td>
								<td>{{ q_4_1 }}</td>
								<td>{{ a41 }}</td>
							</tr>

						{% if player.question_4_2 == Constants.a4_2 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>{{ Constants.question_2_text }}</td>
								<td>{{ q_4_2 }}</td>
								<td>{{ a42 }}</td>
							</tr>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Pregunta</th>
							<th>Su respuesta</th>
							<th>La respuesta correcta</th>
						</tr>
						{% if player.question_5 == Constants.a5 %}
							<tr class="success">
						{% else %}
							<tr class="danger">
						{% endif %}
								<td>Si usted deja de tomar {{ inactive_threshold }} decisiones durante esta parte</td>
								<td>{{ q_5 }}</td>
								<td>{{ a5 }}</td>
							</tr>
					</table>
				</div>
			</div>
		</div>

		{% next_button %}

		{% include Constants.text_Instructions with type="reminder" %}
	{% endif %}
	
{% endblock %}
