{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Parte 6: Cuestionario
	{% endif %}
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}			
	{% endif %}

	{% if player.inactive < inactive_threshold %}
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-body">
					<p>Por favor, conteste a las preguntas que le hacemos a continuación. Lo hacemos para ayudarle a entender mejor la parte 6. Sus respuestas aquí no afectan para nada a sus pagos. Recuerde, tiene las instrucciones completas del experimento en la caja al final de esta pantalla (desplace el curso hacia abajo si no la ve).</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Pregunta 1: Si usted pone 5 puntos en la Cuenta Común, y los otros participantes ponen 0 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>{{ Constants.question_1_text }}</td>
							<td>{% formfield player.question_1_1 with label="" %}</td>
						</tr>
						<tr>
							<td>{{ Constants.question_2_text }}</td>
							<td>{% formfield player.question_1_2 with label="" %}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="container-fluid">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Pregunta 2: Si usted pone 5 puntos en la cuenta común, y los otros participantes ponen 150 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>{{ Constants.question_1_text }}</td>
							<td>{% formfield player.question_2_1 with label="" %}</td>
						</tr>
						<tr>
							<td>{{ Constants.question_2_text }}</td>
							<td>{% formfield player.question_2_2 with label="" %}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="container-fluid">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Pregunta 3: Si usted pone 28 puntos en la cuenta común, y los otros participantes ponen 150 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>{{ Constants.question_1_text }}</td>
							<td>{% formfield player.question_3_1 with label="" %}</td>
						</tr>
						<tr>
							<td>{{ Constants.question_2_text }}</td>
							<td>{% formfield player.question_3_2 with label="" %}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Pregunta 4: Si usted pone 28 puntos en la cuenta común, y los otros participantes ponen 5 puntos entre todos:</b>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>{{ Constants.question_1_text }}</td>
							<td>{% formfield player.question_4_1 with label="" %}</td>
						</tr>
						<tr>
							<td>{{ Constants.question_2_text }}</td>
							<td>{% formfield player.question_4_2 with label="" %}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Seleccione la opción correcta:</b>
				</div>
			</div>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<td>Si usted deja de tomar {{ inactive_threshold }} decisiones durante esta parte</td>
							<td>{% formfield player.question_5 with label="" %}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		{% next_button %}

		{% include Constants.text_Instructions with type="reminder"%}
	{% endif %}
{% endblock %}
