{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Parte 6: Ejemplos
	{% endif %}
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}			
	{% endif %}

	{% if player.inactive < inactive_threshold %}
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-body">
					<p>Recuerde que en cada ronda será usted agrupado con otros {{ Constants.other_players_per_group }} participantes.
						Cada participante recibe {{ Constants.endowment }} puntos en cada ronda.
						A continuación le mostramos ejemplos de situaciones que pueden producirse durante el experimento.
						Los cálculos en cada ejemplo están referidos a la casilla de la tabla que indica las
						correspondientes ganancias. Puede ver la tabla de ganancias <a href="https://drive.google.com/file/d/1DLo2SidZEiFhrayri_aISSFL_3n7giAd/view?usp=sharing" target="_blank">aqui</a>.
					</p>

					<h4>Ejemplo 1</h4>

					<p>Usted pone <b>0 puntos</b> en la Cuenta Común y los <b>otros cinco</b> participantes ponen también <b>0 puntos</b>.
						Por tanto, la cantidad total en la Cuenta Común es de <b>0 puntos</b>.
						La cantidad que usted ha dejado en su Cuenta Personal es <b>30 puntos</b> (30 - 0). Sus ganancias finales son:</p>
					<ul>
						<li>Sus ganancias de la Cuenta Común: 0 puntos (observe la casilla de la primera fila y primera columna de la tabla)</li>
						<li>Sus ganancias de su Cuenta Personal: 30 puntos </li>
						<li>Sus ganancias totales en la ronda (Personal + Común): 30 puntos </li>
					</ul>

					<h4>Ejemplo 2</h4>
					<p>Usted pone <b>0 puntos</b> en la Cuenta Común y los <b>otros cinco</b> participantes ponen
						<b>150 puntos</b> entre todos (30 cada uno).
						Por tanto, la cantidad total en la Cuenta Común es de <b>150 puntos</b>.
						La cantidad que usted ha dejado en su Cuenta Personal es <b>30 puntos</b> (30 - 0).
						Sus ganancias finales son:</p>

					<ul>
						<li>Sus ganancias de la Cuenta Común: 0 puntos (observe la casilla de la última fila y primera columna de la tabla)</li>
						<li>Sus ganancias de su Cuenta Personal: 30 puntos</li>
						<li>Sus ganancias totales en la ronda (Personal + Común): 30 puntos</li>
					</ul>


					<h4>Ejemplo 3</h4>
					<p>Usted pone <b>30 puntos</b> en la Cuenta Común y los <b>otros cinco</b> participantes ponen <b>0 puntos</b> entre todos.
						Por tanto, la cantidad total en la Cuenta Común es de <b>30 puntos</b>.
						La cantidad que usted ha dejado en su Cuenta Personal es <b>0 puntos</b> (30 - 30).
						Sus ganancias finales son:</p>

					<ul>
						<li>Sus ganancias de la Cuenta Común:  375.3 (observe la casilla de la primera fila y última columna de la tabla)</li>
						<li>Sus ganancias de su Cuenta Personal: 0</li>
						<li>Sus ganancias totales en la ronda (Personal + Común): 375.3</li>
					</ul>

					<h4>Ejemplo 4</h4>
					<p>Usted pone <b>30 puntos</b> en la Cuenta Común y los <b>otros cinco</b> participantes ponen también <b>150 puntos</b> entre todos (30 cada uno).
						Por tanto, la cantidad total en la Cuenta Común es de <b>30 puntos</b>.
						La cantidad que usted ha dejado en su Cuenta Personal es <b>0 puntos</b> (30 - 30).
						Sus ganancias finales son:</p>

					<ul>
						<li>Sus ganancias de la Cuenta Común: 1.8 (observe la casilla de la última fila y última columna de la tabla)</li>
						<li>us ganancias de su Cuenta Personal: 0</li>
						<li>Sus ganancias totales en la ronda (Personal + Común): 1.8</li>
					</ul>

				</div>
			</div>
		</div>

		{% next_button %}
		
		{% include Constants.text_Instructions with type="reminder"%}
	{% endif %}
{% endblock %}
