{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Parte 6: Resultados de la ronda anterior
	{% endif %}
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}
	{% endif %}

	{% if player.inactive < inactive_threshold %}


		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Decisión</b></div>
				<div class="panel-body">
					<p>Usted recibió una asignación de <strong>{{ Constants.endowment }} puntos</strong>.
						<strong>Usted destinó {{ previous_contribution }}</strong> a la Cuenta Común y su grupo puso un total de <strong> {{ previous_total_contribution }} puntos</strong>.
						La lista completa de puntos destinados a la Cuenta Común por su grupo se muestra debajo. Las decisiones de los demás se muestran en orden aleatorio. </p>

					<!--Table of results-->
					<ul class="list-group">
						<li class="list-group-item"><b>Contributions by your group members</b></li>
						<li class="list-group-item text-success">{{ previous_contribution }} - Su decisión</li>
					{% if previous_other_contribution0 != None and previous_other_inactive0 < inactive_threshold and previous_other_timeout_Contribute0 == 0 %}
						<li class="list-group-item">{{ previous_other_contribution0 }}</li>
					{% elif previous_other_inactive0 >= inactive_threshold or previous_other_timeout_Contribute0 == 1 %}
						<li class="list-group-item disabled">{{ previous_other_contribution0 }} - Decisión automática</li>
					{% endif %}
					{% if previous_other_contribution1 != None and previous_other_inactive1 < inactive_threshold and previous_other_timeout_Contribute1 == 0 %}
						<li class="list-group-item">{{ previous_other_contribution1 }}</li>
					{% elif previous_other_inactive1 >= inactive_threshold or previous_other_timeout_Contribute1 == 1 %}
						<li class="list-group-item disabled">{{ previous_other_contribution1 }} - Decisión automática</li>
					{% endif %}
					{% if previous_other_contribution2 != None and previous_other_inactive2 < inactive_threshold and previous_other_timeout_Contribute2 == 0 %}
						<li class="list-group-item">{{ previous_other_contribution2 }}</li>
					{% elif previous_other_inactive2 >= inactive_threshold or previous_other_timeout_Contribute2 == 1 %}
						<li class="list-group-item disabled">{{ previous_other_contribution2 }} - Decisión automática</li>
					{% endif %}
					{% if previous_other_contribution3 != None and previous_other_inactive3 < inactive_threshold and previous_other_timeout_Contribute3 == 0 %}
						<li class="list-group-item">{{ previous_other_contribution3 }}</li>
					{% elif previous_other_inactive3 >= inactive_threshold or previous_other_timeout_Contribute3 == 1 %}
						<li class="list-group-item disabled">{{ previous_other_contribution3 }} - Decisión automática</li>
					{% endif %}
					{% if previous_other_contribution4 != None and previous_other_inactive4 < inactive_threshold and previous_other_timeout_Contribute4 == 0 %}
						<li class="list-group-item">{{ previous_other_contribution4 }}</li>
					{% elif previous_other_inactive4 >= inactive_threshold or previous_other_timeout_Contribute4 == 1 %}
						<li class="list-group-item disabled">{{ previous_other_contribution4 }} - Decisión automática</li>
					{% endif %}
					</ul>

				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<br>
						<p>Por lo tanto, las ganancias de su decisión de contribución en esta ronda son <strong>{{ previous_unconditional_payoff|floatformat:1 }}</strong>.</p>
				</div>
			</div>
		</div>

		<br>
		Pulse “Siguiente” para continuar.

		{% next_button %}
		
		{% include Constants.text_Instructions with type="reminder" %}
	{% endif %}
{% endblock %}