{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Parte 6: Ronda {{ subsession.round_number }}
		<br>
		Mensaje importante
	{% endif %}
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}			
	{% endif %}

	<div class="container-fluid">
		{% if player.inactive < inactive_threshold %}

		<p>Por favor tenga en cuenta que la <b>ganancia total del grupo es máxima</b> si <b>cada jugador</b> pone <b>14 puntos</b> a la <b>Cuenta Común</b>.</p>

		<p>Nota: este mensaje se está comunicando a todos los participantes en el experimento</p>

		<p>Pulse “Siguiente” para tomar su decisión.</p>

		{% next_button %}

	{% endif %}
{% endblock %}
