{% load staticfiles %}

{% block styles %}
	<style>
		.otree-timer {
			display: none;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h4>You have been excluded from the experiment</h4>
				<p>Either you did not submit your decisions in the first day or you did not submit your decisions in {{ inactive_threshold }} or more days of the experiment so you have been automatically excluded. Unfortunately this means you will not receive any money for your participation. Although we thank you for signing up for this experiment, in the future please ensure that you do make your decisions.</p>
			</div>
		</div>
	</div>
{% endblock %}