{% load staticfiles otree_tags %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-info">
			<div class="panel-body">
				<p>Ahora tiene la oportunidad de ganar puntos adicionales. Se le informará al final del experimento de si los ha ganado o no.</p>
			</div>
		</div>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<p><b>¿Cuántos puntos creen los otros {{ Constants.other_players_per_group }} participantes de su grupo que debe usted poner en la cuenta común en esta ronda?</b></p>
			</div>

			<div class="panel-body">
				<p>
					Use las cajas mostradas debajo para indicar <b>cuánto cree que los otros participantes de su grupo piensan que debe usted asignar
					a la Cuenta Común en esta ronda</b>.
					Por favor, ponga el valor más alto en la caja superior y luego ordene las cantidades con las que
					responda de mayor a menor. Puede repetir cantidades si quiere, y en ese caso el orden no importa.
					Ordenaremos lo que respondan los otros participantes de su grupo en esta ronda y compararemos con su
					respuesta.

					Por cada respuesta que coincida exactamente con una suya usted recibirá {{ Constants.belief_correct_pay }}.
					Esto quiere decir que puede usted ganar un máximo de {{ max_ne_earning }}.
					Cuánto menos se acerque su respuesta a la creencia de los otros participantes, menos puntos
					recibirá. Si su respuesta difiere de los valores verdaderos en más de {{ Constants.belief_correct_pay }}
					recibirá 0 puntos.
					Por ejemplo, si usted cree que uno de los otros participantes en el grupo respondió con X puntos a
					la pregunta “¿Cuánto debería asignar cada participante a la Cuenta Común?” que se le mostró hace dos
					pantallas, y la respuesta de ese participante es X puntos, ganará {{ Constants.belief_correct_pay }}
					puntos adicionales por esa respuesta.
				</p>
				<br>
				{% for field in form %}
					<div class="row">
						<div class="col-sm-4" align="left">{% formfield field with label="" %}</div>
					</div>
				{% endfor %}
				<div class="row">
					<div class="col-sm-12" align="left"><img class="img-responsive" src="{% static "non_linear_cpr_game/NE_spa.png" %}" width="400"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
