{% load staticfiles otree_tags %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-success">
			<div class="panel-body">
				<p>Ahora tiene la oportunidad de ganar puntos adicionales. Se le informará al final del experimento de si los ha ganado o no.</p>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading">
				<p><b>¿Cuántos puntos pondrán los otros {{ Constants.other_players_per_group }} participantes de su grupo en la Cuenta Común en esta ronda?</b></p>
			</div>
			<div class="panel-body">
				<p>Use las cajas mostradas debajo para indicar <b>cuántos puntos cree que los pondrán los otros
					participantes de su grupo en la Cuenta Común en esta ronda.</b>
					Por favor, ponga el valor más alto en la caja superior y luego ordene las cantidades con las que
					responda de mayor a menor. Puede repetir cantidades si quiere, y en ese caso el orden no importa.
					Ordenaremos lo que pongan los otros participantes de su grupo en esta ronda y compararemos con su
					respuesta.

					Por cada respuesta que coincida exactamente con una suya usted recibirá {{ Constants.belief_correct_pay }}.
					Esto quiere decir que puede usted ganar un máximo de {{ max_ee_earning }}.
					Cuánto menos se acerque su respuesta a la decisión de los otros participantes, menos puntos recibirá.
					Si su respuesta difiere de los valores verdaderos en más de {{ Constants.belief_correct_pay }} recibirá
					0 puntos. Por ejemplo, si usted cree que uno de los otros participantes en su grupo asignará X puntos
					a la Cuenta Común, y ese participante contribuye realmente X puntos, ganará
					{{ Constants.belief_correct_pay }} adicionales por dicha respuesta.
				<br>
				{% for field in form %}
					<div class="row">
						<div class="col-sm-4" align="left">{% formfield field with label="" %}</div>
					</div>
				{% endfor %}
				<div class="row">
					<div class="col-sm-12" align="left"><img class="img-responsive" src="{% static "non_linear_cpr_game/EE_future_spa.png" %}" width="400"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
