{% load staticfiles otree_tags %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-info">
			<div class="panel-body">
				<p>You have the chance to earn additional points below. You will be told at the end of the experiment whether you earned these points.</p>
			</div>
		</div>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<p><b>How much do the other {{ Constants.other_players_per_group }} people in your group think that you should contribute in this round?</b></p>
			</div>

			<div class="panel-body">
				<p>Use the boxes below to indicate <strong>how much the other people in your group think that you should each contribute</strong> in this round. Put the highest value in the box at the top and then rank what you think other people believe you should all contribute. You can input the same value for multiple people. In that case the ordering for those peoeple does not matter. We will rank how people in your group responded to the question two screens ago ('How much should each person in your group contribute?') and compare each of them to your respones. For every reponse that you estimate completely correctly you get {{ Constants.belief_correct_pay }}. This means that you can earn up a maximum of {{ max_ne_earning }}. The less accurate your response is the less points you receive. If your response differs from the true values by more than {{ Constants.belief_correct_pay }} then you receive 0.</p>
				<br>
				{% for field in form %}
					<div class="row">
						<div class="col-sm-4" align="left">{% formfield field with label="" %}</div>
					</div>
				{% endfor %}
				<div class="row">
					<div class="col-sm-12" align="left"><img class="img-responsive" src="{% static "non_linear_cpr_game/NE_spa.png" %}" width="400"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
