{% load staticfiles otree_tags %}
{% block title %}
Decisión
{% endblock %}

{% block content %}
<style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}
</style>

	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>Es el momento de decidir cómo distribuir sus puntos.</b>
			</div>

			<div class="panel-body">
				<p>¿Cuántos puntos quiere poner en la cuenta común en esta ronda?</p>
				<p>Puede hacer una simulación de sus ganancias dependiendo de su decisión y de la decisión de los
					otros {{ Constants.other_players_per_group }} participantes en el grupo en esta ronda debajo.</p>

				<p>Pulse “Siguiente” para confirmar su decisión.</p>
				<div class="row">
					<div class="col-sm-12">{% formfield player.contribution with label="" %}</div>
				</div>
				<div class="row mx-auto">
					<div class="col-lg-4" >
						<img class="img-responsive" src="{% static "non_linear_cpr_game/Contribute.png" %}" width="250">
					</div>
					<div class="col-lg-8">
						<h3 style="text-align:center;">Simulador</h3>
						<label for="mycontribution"><b>Su contribución:</b>: <span id="print_mycontribution"></span></label> <br>
						<input type="range" min="0" max="30" value="15" step=1 	class="slider" id="mycontribution">
						<label for="othcontribution" class="pull-left"><b>Contribución total de los otros:</b>: <span id="print_othcontribution"></span></label> <br>
						<input type="range" min="0" max="150" value="75" class="slider" id="othcontribution"> <br>
						<p>Sus ganancias: <span id="print_payoff"></span></p>
					</div>
				</div>
				Pulse <a href="">aquí</a> para ver el fichero .pdf de la tabla de ganancias.
			</div>
		</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
var myVar = setInterval(function(){ myTask() }, 10);

function round(value, decimals) {
return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}

function myTask(){
var slider = document.getElementById("mycontribution").value;
var slider2 = document.getElementById("othcontribution").value;
var sum = 1*slider + 1*slider2;
var par_a = 15;
var par_b = 0.083;
var commonaccount = (par_a*sum - par_b*sum*sum)*(slider/sum);

if (Number.isNaN(commonaccount)){
	document.getElementById("print_payoff").innerHTML = 0;
} else {
	document.getElementById("print_payoff").innerHTML = round(round(commonaccount, 2), 1);
	document.getElementById("print_mycontribution").innerHTML = round(slider, 1);
	document.getElementById("print_othcontribution").innerHTML = round(slider2, 1);
}
}
</script>

{% endblock %}