{% load staticfiles %}

{% block content %}
	<div class="container-fluid">
		{% if type == "reminder" %}
			<br>
			<br>
			<div class="panel panel-default">
		{% endif %}
		{% if type != "reminder" %}
			<div class="panel panel-primary">
		{% endif %}
				<div class="panel-body">
					{% if type == "reminder" %}
						<p><b>Has dejado de tomar <span style="color:blue">{{ player.inactive }} decisión{% if player.inactive != 1 %}es{% endif %}
							del experimento hasta ahora.
							Será excluido si falta a <span style="color:blue">{{ inactive_threshold }} decisiones </span>
							y no recibirá ningún pago por su participación.</b>
						</p>
						<br>
					{% endif %}


					<h4>Instrucciones</h4>
					<p>Está usted empezando la sexta parte del experimento. Por favor, lea las
						instrucciones correspondientes a esta parte a continuación.</p>

					<p><b>Grupos y rondas</b>: Va usted a tomar decisiones durante {{ Constants.num_rounds }} días.
						Cada día, se le incluirá al azar en un grupo de {{ Constants.players_per_group }} participantes incluido usted,
						todos seleccionados al azar. La composición del grupo cambiará todos los días, con lo que
						cada día puede usted ser potencialmente agrupado con {{ Constants.other_players_per_group }} personas <b>nuevas</b>.
						No podrá saber quiénes son los otros {{ Constants.other_players_per_group }} participantes.


					<p><b>Cómo tomar decisiones</b>:
					En cada ronda se le dará una asignación de {{ Constants.endowment }} puntos.
					Todos los miembros de su grupo recibirán la misma asignación de {{ Constants.endowment }} puntos.
					En cada ronda deberá decidir cómo usar su puntos. Tomará usted sus decisiones
					individualmente. Todos los miembros del grupo deben tomar sus decisiones a la vez, es
					decir, durante el mismo día.
</p>

					<p><b>Cuenta Común</b>: Puede colocar en la Cuenta Común cualquier número entero de puntos entre 0
						y {{ Constants.endowment }}. Los puntos de dicha Cuenta Común de su grupo:

						<ul>
							<li>se multiplicarán por un cierto factor</li>
							<li>y se distribuirán entre los {{ Constants.players_per_group }} miembros del grupo
								(incluido usted) en proporción a la cantidad que cada participante haya puesto. </li>
						</ul>

					Las ganancias de la Cuenta Común decrecen con la cantidad total de puntos puestos en ella por su
					grupo. Esto quiere decir que las ganancias que le proporcione la Cuenta Común dependen no solo de
					la cantidad de puntos que usted decida poner en él sino también de cuanto coloquen entre todos los del
					grupo en cada ronda. Se le mostrará más información sobre  la fórmula utilizada para calcular las
					ganancias más adelante.

					<p><b>Cuenta Personal</b>: Los puntos que le queden  tras la asignación a la Cuenta Común son para usted.</p>

					<p><b>Ganancias totales en cada ronda</b>: Sus ganancias totales en una ronda vienen dadas por la
						suma de los puntos que se guardó para usted más sus ganancias de la Cuenta Común.
						<br><br>
						Para facilitar su decisión, tendrá acceso a una herramienta interactiva cuando vaya a tomarla,
						y a una tabla completa indicando sus ganancias en cada caso según lo que usted asigne a la cuenta
						común (X) y lo que hagan el resto de miembros de su grupo (Y). Para ver la tabla ahora, pulse en
						el siguiente <a href="https://drive.google.com/file/d/1DLo2SidZEiFhrayri_aISSFL_3n7giAd/view?usp=sharing" target="_blank">enlace.</a></p>

					<p><b>Información en cada ronda</b>: Después de cada ronda, antes de tomar una nueva decisión de
						asignación, se le dará información de las decisiones de los otros miembros de su grupo. Así, en
						cada período, después de que todos hayan tomado sus decisiones podrá ver:</p>

					<ol>
						<li>Su propia decisión en la ronda anterior</li>
						<li>Las decisiones de asignación a la Cuenta Común por los otros miembros de su grupo en la ronda anterior</li>
						<li>Sus ganancias de la Cuenta Común la ronda anterior</li>
						<li>La cantidad de puntos que usted destinó a su Cuenta Personal en la ronda anterior</li>
						<li>La suma de sus ganancias provenientes de las Cuentas Común y Personal en la ronda anterior</li>
					</ol>

					<p><b>Pago final de la parte 6</b>:
						Al final del experimento el sistema seleccionará al azar 5 rondas, una de las primeras 7, una de
						las siguientes 7, y así sucesivamente. La cantidad que haya ganado en esas cinco decisiones
						concretas se añadirá a su pago final. Cada ronda es independiente de las demás en cuanto a ganancias se refiere.
					</p>

					<p><b>Preguntas adicionales y puntos</b>: Antes de cada decisión se le harán algunas
						preguntas adicionales que le permitirán ganar puntos extra. Por favor, lea cuidadosamente las
						instrucciones en la pantalla antes de tomar cada decisión.
					</p>

					<p>Al final del experimento, se seleccionará al azar a {{ num_subjects_win }} participantes entre todos
						los que hayan completado todas las partes del experimento. Los/as seleccionados/as recibirán un
						pago adicional, consistente en que sus ganancias se multiplicarán por 10.
						Garantizamos que esta persona seleccionada al azar ganará al menos 100 euros, a añadir al resto de sus pagos.

					<p>Recuerde, si deja de tomar {{ inactive_threshold }} decisiones durante el experimento será permanente y automáticamente excluido/a del experimento. Si una persona no toma su decisión en una ronda se le asignará una decisión de alguno de los otros miembros de su grupo elegida al azar.</p>

					<p>Escriba a <a href="mailto:{{ email }}">{{ email }}</a> si tiene alguna pregunta.</p>

					{% if type != "reminder" %}<p>Encontrará estas instrucciones al final de cada página. A continuación veremos algunos ejemplos para asegurarnos de que lo ha entendido todo correctamente. </p>{% endif %}
				</div>
			</div>
	</div>
{% endblock %}