/* =============================================== */
/* Instructions and decision input */
/* =============================================== */

.table {
	width: 100%;
	margin-bottom: 0;
}

th, td {
	text-align: center;
}

#info {
	padding: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}