{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	{% if player.inactive < inactive_threshold %}
		Fin del experimento. Muchas gracias por su participación.
	{% endif %}
{% endblock %}

{% block content %}
	{% if player.inactive >= inactive_threshold %}
		{% include Constants.text_Inactive %}
	{% endif %}

	{% if player.inactive < inactive_threshold %}
		<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-body">
					<p>
						Ya has terminado el experimento. En cambio, tenemos que esperar a que todos los demás terminen también antes de calcular tus resultados y ganancias.
						Por favor, introduzca su correo de PayPal en la caja de debajo. Introduzca un correo electrónico (si introduce una web paypal.me/ no recibirá su pago).

					</p>

					{% formfield player.email_paypal %}

					<p><strong>Vuelve mañana para conocer tus resultados y ganancias</strong>.</p>
				
					<p>Escriba a <a href="mailto:{{ email }}">{{ email }}</a> si tiene alguna pregunta.</p>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}