{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	You have made your decisions for today
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">
				<p>We remind you that this experiment consists of six stages that will take place over 36 days.
					You have completed the first 5 stages today.
					Come back tomorrow at <b>10:00am</b> to make your decisions in the sixth stage.
					It will take a few minutes a day to complete.</p>

				<h4>Important rules</h4>
				<ul>
					<li>Your participation is voluntary and you are free to leave the experiment at any point. In that case however you will not receive payment.</li>
					<li>We ask you not to communicate with the other participants and generally to make your decisions independently. Please do not share your code with anyone else.</li>
					<li>The answers you provide will be kept confidential. The researchers who process the data from the experiment will not be able to match your name to your choices.</li>
					<li>There is absolutely no deception at any point in this experiment: what we say, we will do.</li>
				</ul>

				<h4>Payment</h4>
				<p>You will be paid at the end of this experiment. Your payment will be the sum of what you earn in each stage. Every <b>10 points that you earn will be turned into €1</b>. The amount you earn will depend partly on your choices, partly on the choices of the other participants, and partly on chance. You will be paid directly on your PayPal account so that none of the other participants will know how much you earned. There will be additional instructions about your earnings.</p>

				<p>If you do not finish your choices today or you miss {{ inactive_threshold }} decisions during the experiment you will be <b>automatically and permanently</b> excluded from the experiment. If you are excluded you will not be paid. Contact <a href="mailto:{{ email }}">{{ email }}</a> if you have any questions.</p>
			</div>
		</div>
	</div>
{% endblock %}