{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Ha tomado sus decisiones para hoy.
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">
				<p>Gracias por participar en este experimento. El experimento consta de siete partes.
					Ha completado las primeras cinco partes.
					Pasará a la sexta fase mañana a las <b>10:00 (hora de Madrid)</b> y
					participará en una ronda de la sexta fase todos los siguientes días.
					Tendrá hasta las <b>10:00 (hora de Madrid)</b> del día siguiente para tomar sus decisiones por cada ronda. Sus decisiones en esta fase le llevarán unos minutos cada día. La fase final, la septima, tardará unos minutos en completarse.</p>

				<h4>Reglas importantes</h4>
				<ul>
					<li>Su participación es voluntaria y es usted libre de abandonar el experimento en cualquier momento. En tal caso, sin embargo, no recibirá ningun pago.</li>
					<li>Le pedimos que no se comunique con los otros participantes y que, en general, tome sus decisiones de forma independiente. Por favor, no comparta su enlace con nadie más.</li>
					<li>Sus respuestas a nuestras preguntas serán confidenciales. Los investigadores que trabajarán con los datos del experimento no podrán relacionar su nombre con ellos.</li>
					<li>En este experimento no hay ninguna mentira ni engaño; todo lo que decimos, lo hacemos.</li>
				</ul>

				<h4>Pago</h4>
				<p>Se le pagará al final del experimento. Su pago será la suma de lo que gane en cada fase, mas 5€ para su participación. Por cada <strong>30 puntos que gane recibirá 1€</strong>, redondeado al importe entero más próximo. Lo que gane dependerá en parte de sus elecciones, en parte de las elecciones de otros participantes, y en parte del azar. Se le pagará de manera individual y tramite su cuenta de PayPal, de manera que ninguno de los otros participantes podrá conocer lo que ha ganado usted. Instrucciones adicionales sobre como puede ganar puntos seguirán.</p>

				<p>Si no termina sus elecciones de hoy o pierdes {{ inactive_threshold }} decisiones durante la fase seis será <b>automáticamente y permanentemente</b> excluido del experimento. <strong>Si se le excluye no se le pagará.</strong></p>

				<p><span style="color:blue">Al final del experimento, una persona entre todos los que terminan el experimento será seleccionada al azar para ganar un bonus. El bonus del sorteo multiplica todas las ganancias de esa persona por {{ win_multiplier }}. Nos aseguraremos de que <strong>la persona seleccionada al azar gane al menos 100€ y un maximo de 200€</strong>.</span></p>				
					
				<h4>Información adicional</h4>
				<p>Por favor, lea cuidadosamente las instrucciones. Sin embargo, le mostraremos las instrucciones pertinentes a lo largo del experimento. Si tiene alguna pregunta durante el experimento, póngase en contacto con nosotros (<a href="mailto:{{ email }}">{{ email }}</a>).</p>
			</div>
		</div>
	</div>
{% endblock %}