{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Parte 2
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h4>Instrucciones</h4>

				<p>Para la Fase 2 tiene que elegir una apuesta entre seis apuestas diferentes. Cada apuesta tiene dos posibles resultados <i>CARA</i> o <i>CRUZ</i> que ocurren con un 50% de probabilidad. Su pago por esta parte del experimento será determinada por:</p>

				<ul>
					<li>cuál de las seis apuestas usted elije; y</li>
					<li>cuál de los dos posibles eventos ocurre.</li>
				</ul>

				<p>Por ejemplo, si selecciona Apuesta 4 y ocurre <i>CARA</i>, usted recibe {{ Constants.choice_4_high }} puntos. Si ocurre <i>CRUZ</i>, usted recibe {{ Constants.choice_4_low }} puntos.</p>

				<p>Al final del experimento, el azar determinará con una moneda virtual el evento que ocurrirá. Si sale <i>CARA</i> usted obtendrá el resultado final en la columna de la izquierda. Si sale <i>CRUZ</i> obtendrá el resultado de la columna de la derecha. Las seis apuestas diferentes se enumeran en orden. Seleccione una apuesta utilizando la parte inferior de la pantalla.</p>

				<div class="table-responsive">
				<table class="table">
					<tr>
						<th style="text-align:center">APUESTA</th>
						<th style="text-align:center">CARA</th>
						<th style="text-align:center">CRUZ</th>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 1</td>
						<td style="text-align:center">{{ Constants.choice_1_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_1_low }} puntos</td>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 2</td>
						<td style="text-align:center">{{ Constants.choice_2_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_2_low }} puntos</td>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 3</td>
						<td style="text-align:center">{{ Constants.choice_3_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_3_low }} puntos</td>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 4</td>
						<td style="text-align:center">{{ Constants.choice_4_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_4_low }} puntos</td>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 5</td>
						<td style="text-align:center">{{ Constants.choice_5_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_5_low }} puntos</td>
					</tr>
					<tr>
						<td style="text-align:center">Apuesta 6</td>
						<td style="text-align:center">{{ Constants.choice_6_high }} puntos</td>
						<td style="text-align:center">{{ Constants.choice_6_low }} puntos</td>
					</tr>
				</table>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>Haga su selección</b>
			</div>

			<div class="panel-body">
				<p>{% formfield player.choice with label="" %}</p>
			</div>
		</div>
	</div>
	{% next_button %}
{% endblock %}


