{% load staticfiles %}

{% block styles %}
	<style>
		.otree-timer {
			display: none;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h4>Usted ha sido excluido/a del experimento</h4>
				<p>O bien no tomó sus decisiones del primer día, o bien usted no tomó decisiones en {{ inactive_threshold }}
					días del experimento, y ha sido excluido/a automáticamente. Desafortunadamente, esto quiere decir
					que no recibirá ningún pago por su participación. Le agradecemos que se haya inscrito participar
					y en futuros experimentos por favor asegúrese de tomar sus decisiones.</p>

					<p>Escriba a <a href="mailto:{{ email }}">{{ email }}</a> si tiene alguna pregunta.</p>

			</div>
		</div>
	</div>
{% endblock %}